* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: wheat;
}

.general {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.formulario-group {
    display: flex;
    flex-direction: column;
}

.formulario-group label {
    margin-bottom: 5px;
    color: #666;
}

.formulario-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    resize: none;
}

.formulario-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario-group button:hover {
    background-color:aqua;
}